{% extends  'main/base.html' %}
{% load static %}
{% block title %}
Contacts
{% endblock %}

{% block link%}
<link rel="stylesheet" href="{% static 'main/css/news_style.css'%}">
{% endblock %}

{% block content %}
<body>
<section class="news">
        <div class="container">
            <div class="page_news">

                <div class="news_item" id="history_page_item">
                    <div class="content_item_img">
                        <img src="{% static 'main/img/history_1.jpg' %}" alt="">
                    </div>
                    <div class="content_item_info">
                        <div class="news__blog-title">
                            Добрушская бумажная фабрика «Герой труда» — одно из старейших предприятий бумажной отрасли на юго-востоке Республики Беларусь.
                        </div>
                        <div class="news__blog-text">
                            Идея «устроить фабрику для делания писчей бумаги» в Добруше принадлежит знаменитому военному деятелю Российской империи, владельцу Гомельского имения генерал-фельдмаршалу графу И. Ф. Паскевичу, который еще в 1849 году давал соответствующие распоряжения. Однако, осуществить этот замысел смог лишь его наследник, генерал-адъютант Ф. И. Паскевич, в 1870 году. И уже через два года на фабрике началось производство нескольких видов бумаг: оберточной для упаковки сахара и табака, «спичечной» для печатания этикеток, писчей, печатной, газетной. А к концу 19-го века Добрушская писчебумажная фабрика стала крупнейшим предприятием в стране, занимая в «Списке фабрик и заводов Российской империи» от 1903 года 8-е место.
                            В январе 1910 года управляющим Добрушской писчебумажной фабрики Стульгинским Антоном Игнатьевичем было организовано «Ремесленное училище им. Александра II при Добрушском двуклассовом фабричном училище». В нем готовили рабочих разных специальностей: столяров, сапожников, слесарей, кузнецов, переплётчиков,текстильщиков. Наполняемость групп составляла 6-12 человек. Для поступления в училище нужно было иметь образование 3 класса начальной школы. Обучалось в училище около 90 человек. До октябрьской революции в училище было 2 выпуска учащихся. В Республиканском музее профтехобразования хранится подлинное свидетельство об окончании «Ремесленного училища им. Александра II» одного из первых выпускников Громыко Елисея Ивановича, 1887 года рождения.

                            Продукция фабрики успешно экспонировалась на сельскохозяйственной и кустарнопромышленной выставке в г. Могилеве в 1898 году а также на Всероссийской выставке в г. Киеве в 1913 году В 1932 году бумажная фабрика «Герой труда» являлась первым в Европе соломенно-целлюлозным предприятием, которое стало использовать стационарные варочные котлы, что позволило в 1933 году довести выработку бумаги до 18 тысяч тонн в год, а в 1934 году- до 24 тысяч тонн в год.

                            В 50-70-е годы была проведена модернизация всего производства. Техническое усовершенствование позволило фабрике в 1970 году выпускать 67 % союзного производства чертежной и 50 % рисовальной бумаги, каждый седьмой школьник Советского Союза писал в тетради производства Добрушской бумажной фабрики.

                            На сегодняшний день общий перечень продукции, выпускаемой на фабрике, насчитывает более 100 видов товаров. Производство ориентировано на два основных направления:

                            — продукция производственно-технического назначения;
                            — товары народного потребления.
                            Продукция поставляется не только на внутренний рынок, но и в страны дальнего зарубежья.

                            Многолетний опыт, передаваемый из поколения в поколение, соединение традиций с достижениями современной техники и новыми технологиями делают (филиал «Добрушская бумажная фабрика «Герой труда» ОАО «Белорусские обои» надежным партнером в сотрудничестве.

                            Наши покупатели отмечают высокое качество изделий и постоянное стремление гибко и максимально быстро выполнять заказы и пожелания партнёров.
                        </div>

                    </div>
                    <div class="hystory_video">
                        <iframe width="900" height="506" src="https://www.youtube.com/embed/AhjFn0yGanc" title="Города Беларуси. Добруш" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                    <div></div>
                </div>

            </div>
            </div>
          </div>
    </section>


</body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="{% static 'main/js/catalog.js'%}"></script>
  <script src="{% static 'main/js/slick.min.js'%}"></script>
  <script src="{% static 'main/js/jquery.formstyler.min.js'%}"></script>
  <script src="{% static 'main/js/main.js'%}"></script>
</html>

{% endblock %}