
<!doctype html>

{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <script type="text/javascript" src="{% static 'main/js/mainjs.js' %}"></script>
      <link href="https://fonts.googleapis.com/css?family=PT+Serif:400,700|Roboto:400,500&amp;subset=cyrillic"
    rel="stylesheet">
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}" type="text/css">
    {% block link%}{% endblock %}

    <link rel="stylesheet" href="{% static 'main/css/normalize.css' %}">
      <link rel="stylesheet" href="{% static 'main/css/fonts.css' %}">
      <link rel="stylesheet" href="{% static 'main/css/jquery.fancybox.min.css' %}">
      <link rel="stylesheet" href="{% static 'main/css/slick.css' %}">
      <link rel="stylesheet" href="{% static 'main/css/jquery.formstyler.css' %}">
      <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
      <link rel="stylesheet" href="{% static 'main/css/media.css' %}">
      <script src="https://kit.fontawesome.com/a031ec5ba8.js" crossorigin="anonymous"></script>
</head>
<body>

<header class="header">
    <div class="header__content">
      <div class="container">
        <div class="header__content-inner">
          <div class="header__logo">
            <a href="{% url 'home' %}">
              <img src="{% static 'main/img/main_page/cropped-Логотип-глаза-смол-1.png' %}" alt="" style="width:200px">
            </a>
          </div>
          <nav class="menu">
            <div class="header__btn-menu">
              <span class="icon-bars"></span>
            </div>
            <ul>
              <li><a href="{% url 'home' %}">Главная</a></li>
              <li><a href="{% url 'catalog' %}">Продукция</a></li>
              <li><a href="{% url 'news' %}">Новости</a></li>
              <li><a href="{% url 'contacts' %}">Контакты</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </header>

   <div class="container">
       {% block content %}{% endblock %}
   </div>
</body>
<div class="container">
  <footer class="py-3 my-4">
    <div class="footer__copy">
      <div class="container">
        <div class="copy__text">
          © 2022 Template by Anastasia Pantyushechkina. Все права защищены.
        </div>
      </div>
    </div>
  </footer>
</div>
</html>