{% extends  'main/base.html' %}
{% load static %}
{% block title %}
Contacts
{% endblock %}

{% block link%}
<link rel="stylesheet" href="{% static 'main/css/news_style.css'%}">
<link rel="stylesheet" href="{% static 'main/css/contacts_style.css'%}">
{% endblock %}



{% block content %}
<body>
<section class="news">
        <div class="container">
            <div class="page_news">
                    <div class="news_item">
                        <div class="content_item_img">
                            <img src="{% static 'main/img/gde_kupyt_1.jpg' %}" alt="">
                        </div>
                        <div class="content_item_info">
                            <div class="news__blog-title">
                                Продукция производственно-технического назначения

                            </div>
                            <div class="news__blog-text">
                                Рулонная бумага — рулонная бумага, или ролевая бумага, бумага, поступающая с бумажной фабрики в рулонах.
                                <br>Данную продукцию можно приобрести по адресу
<b>пр. Луначарского , 7, г. Добруш, Гомельская область, Республика Беларусь</b>
                            </div>
                        </div>
                    </div>
                    <div class="news_item">
                        <div class="content_item_img">
                            <img src="{% static 'main/img/gde_kupyt_2.jpg' %}" alt="">
                        </div>
                        <div class="content_item_info">
                            <div class="news__blog-title">
                                Тетради и прочие бумажно-беловые товары
                            </div>
                            <div class="news__blog-text">
                                Бумажно—беловые товары — это изделия из бумаги и картона, предназначенные для письма, черчения, рисования, хранения фотографий, марок и т.д.
                               <br> Данную продукцию можно приобрести по адресам,<b>указанным ниже</b> .
                            </div>
                        </div>
                        <div class="table_grid" style="grid-column: 1 / 3; grid-row: 2; margin-top: 20px;">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Наименование</th>
                                        <th>Адрес</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Филиал «Добрушская бумажная фабрика «Герой труда» ОАО «Управляющая компания холдинга «Белорусские обои</td>
                                        <td>Гомельская область, г.Добруш, пр-т Луначарского,  д. 7

                                           <br> тел. 8 (02333) 5 96 75</td>
                                    </tr>
                                    <tr>
                                        <td>Филиал «Торговый дом «Белорусские обои» ОАО «ЦБК-Консалт»</td>
                                        <td>Гомельская область, г.Гомель, ул.Ильича, д.51-В

                                           <br> тел. 8 (0232) 53 60 72</td>
                                    </tr>
                                    <tr>
                                        <td>УП «Могилевский облкоопкниготорг»</td>
                                        <td>Могилевская область, г.Могилев, пр-т Димитрова, 19 В

                                          <br>  тел. 8 (0222) 73 33 40</td>
                                    </tr>
                                    <tr>
                                        <td>ОАО «Белхозторг»</td>
                                        <td>Минская область, г.Минск, ул.Платонова, д.34

                                          <br>  тел. 8 (017) 290 77 56</td>
                                    </tr>
                                    <tr>
                                        <td>УП «Облкоопторг»</td>
                                        <td>Минская область, г.Минск,   3-й Загородный переулок, д.4-а, пом. 1-5,

                                         <br>   тел. 8 (017) 208 84 02</td>
                                    </tr>
                                    <tr>
                                        <td>ОАО «Веста-Борисов»</td>
                                        <td>Минская область, г.Борисов, ул.Гагарина, д.105 а

                                          <br>  тел. 8 (0177) 74 37 93</td>
                                    </tr>
                                    <tr>
                                        <td>ОАО «Витебский хозторг»</td>
                                        <td>Витебская область, г.Витебск, ул.Лазо, д.110

                                         <br>   тел. 8 (0212) 55 30 36</td>
                                    </tr>
                                    <tr>
                                        <td>УП «ВестОптЦентр»</td>
                                        <td>Витебская область, г.Витебск, ул.Гагарина, д.222

                                         <br>   тел. 8 (0212) 23 26 81</td>
                                    </tr>
                                    <tr>
                                        <td>ТОАО «Гродно Культторг»</td>
                                        <td>Гродненская область, г.Гродно, ул.Пушкина, д.37 а

                                        <br>    тел. 8 (0152) 56 83 03</td>
                                    </tr>
                                    <tr>
                                        <td>ТУП «Брестская межрайонная торговая база»</td>
                                        <td>Брестская область, г.Брест, ул.Купала, д.110

                                        <br>    тел. 8 (0162) 50 83 52</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div></div>
                </div>

            </div>
            </div>
          </div>
    </section>


</body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="{% static 'main/js/catalog.js'%}"></script>
  <script src="{% static 'main/js/slick.min.js'%}"></script>
  <script src="{% static 'main/js/jquery.formstyler.min.js'%}"></script>
  <script src="{% static 'main/js/main.js'%}"></script>
</html>

{% endblock %}